.container {
  width: 1700px;
  height: 900px;
  margin: 20px auto;
}
.content {
  width: 1400px;
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  flex-flow: wrap;
}
.btn {
  font-size: 50px;
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
}
.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 160px;
  height: 160px;
  margin: 10px auto;
}