* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #b09ea0;
    padding: 20px;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
}

input {
    border: 2px solid #e3d9e2;
    font-size: 20px;
    height: 40px;
    width: 500px;
    padding-left: 5px;
}

#crete_todo {
    width: 200px;
    height: 40px;
    border: 2px solid #b4a7b4;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    font-size: 22px;
}

#todo_list {
    margin: 0 auto;
    width: 750px;
}

.block_text {
    width: 100%;
    border: 2px solid rgba(217, 203, 203, 0.62);
    padding: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 28px;
    font-family: "Franklin Gothic Heavy";
}
.btn{
    background: #d76b7f;
    border: none;
    color: white;
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    z-index: 10;
}