{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    margin: 20px auto;
    text-align: center;
}

.buttons {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    transition: all .5s ease;
    border: 3px solid #000000;;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.counter p{
    font-size: 22px;
}

#count{
    font-size: 28px;
    font-weight: 700;
    padding-left: 5px;
}
.two{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.posit{
    width: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    margin: 15px 0;
}
.cursor {
    border: 4px solid rgb(0, 0, 0);
    width: 500px;
    height: 500px;
}


.svetofor {
    text-align: center;
    width: 25%;
    margin-top: 100px;
}
.stolb {
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 350px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}
.svet-title{
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700;
    color: rgb(150, 146, 146);
}
.lampa {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(4, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.lampa:hover{
    cursor: pointer;
}