.timer {
  margin-top: 20px;
  margin-left: 20px;
}

#hexagon {
  width: 300px;
  height: 150px;
  margin-top: 150px;
  margin-left: 300px;
  background: #df64ed;
  position: relative;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 100px solid #0033ff;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #0033ff;
}

.block3 {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: rgb(72, 255, 0);
}