.wrapper {
  margin-top: 100px;
  margin-left: 200px;
}
.password1 {
  margin-top: 20px;
}
.password2 {
  margin-top: 20px;
  margin-left: 55px;
}
.check {
  margin-left: 115px;
}

.block1 {
  position: relative;
  width: 600px;
  height: 150px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: rgb(41, 218, 49);
}
.block2 {
  position: absolute;
  width: 100px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: rgba(14, 32, 197, 0.884);
}